body{
    background: linear-gradient(to right, #5c3f71, #bf75a3, #a96fe7);
    font-family:monospace;
    font-style: oblique;
    font-weight: 500;
    color: #00f0ff;
}
.message_box{
    background-color: rgba(45, 0, 77, 0.45);
    width: 450px;
    height: auto;
    padding: 5rem;
    margin: 300px auto;
    border: 2px double #ff77cc;
    text-shadow: 0 0 4px #48cccc;
    box-shadow: 0 0 10px #ff77cc,0 0 20px #00f0ff;
}